@import "tailwindcss";
/* 
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Inter var', system-ui, -apple-system, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: clamp(16px, 4vw, 18px)/1.45 var(--sans);
  color-scheme: light dark;
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f9fafb;
    --bg: #0f0f23;
    --border: #27293d;
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: inherit;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 800;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(2.5rem, 6vw, 4rem);
}

h2 {
  font-size: clamp(1.875rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
} */